// variables colors
$Cwhite:#fff;
$Cblack:#000;
$Corange:#c71;
$Cgray:#444;
$Cgreen:#090;
$Cred:#900;

// variables sizev viwport
$size-w1:25vw;
$size-h1:25vh;
$size-w2:50vw;
$size-h2:50vh;
$size-w3:75vw;
$size-h3:75vh;
$size-w4:100vw;
$size-h4:100vh;
$size-vmx1:25vmax;
$size-vmx2:50vmax;
$size-vmx3:100vmax;
$size-vmi1:25vmin;
$size-vmi2:50vmin;
$size-vmi3:100vmin;