
.foot {
    position: relative;
    top: 25vmin;
    background-color: #de5166;
    max-width: 100vmax;
    height: auto;
    display: grid;
    grid-template-columns:repeat(2, 5fr);
    grid-template-rows:repeat(4, 1fr);  
}


/* historia */
.foot-h {
    background-color: #833c00;
    position: relative;
    top: 25vmin;
    max-width: 100vmax;
    height: auto;
    display: grid;
    grid-template-columns:repeat(2, 5fr);
    grid-template-rows:repeat(4, 1fr);  
}
// geografia
.foot-g {
    background-color: #5f3c4c;
    position: relative;
    top: 25vmin;
    max-width: 100vmax;
    height: auto;
    display: grid;
    grid-template-columns:repeat(2, 5fr);
    grid-template-rows:repeat(4, 1fr);  
}

/* economia */
.foot-e {
    background-color: #b37644;
    position: relative;
    top: 25vmin;
    max-width: 100vmax;
    height: auto;
    display: grid;
    grid-template-columns:repeat(2, 5fr);
    grid-template-rows:repeat(4, 1fr);  
}

/* tradicion */
.foot-t {
    background-color: #651c37;
    position: relative;
    top: 25vmin;
    max-width: 100vmax;
    height: auto;
    display: grid;
    grid-template-columns:repeat(2, 5fr);
    grid-template-rows:repeat(4, 1fr);  
}


.Container-title-foot {
    grid-row:1 / 2;
    grid-column:1 / 3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Container-title-foot h2 {
    text-align: center;
    font-size: 3vmax;
}

.box-links {
    grid-row:2 / 5;
    grid-column:1 / 2;
}

.nav-foot, .nav-foot-h, .nav-foot-g, .nav-foot-e, .nav-foot-t  {
    position: relative;
}

.nav-foot > *, .nav-foot-h > *, .nav-foot-g > *, .nav-foot-e > *, .nav-foot-t > *{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vmax;
    list-style:none;
    
}

.nav-foot a, .nav-foot-h a, .nav-foot-g a, .nav-foot-e a, .nav-foot-t a {
    color: black;
    text-decoration: none;  
    font-size: 2vmax;
}

.nav-foot a:hover, .nav-foot-h a:hover, .nav-foot-g a:hover, .nav-foot-e a:hover, .nav-foot-t a:hover {
    color: rgb(70, 70, 70);
    text-decoration: none;  
}

.nav-foot ul li img, .nav-foot-h ul li img, .nav-foot-g ul li img, .nav-foot-e ul li img, .nav-foot-t ul li img {
    max-width:4vmax;
    max-height:4vmax;
}

.box-icons {
    grid-row:2 / 5;
    grid-column:2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.caja-icon {
    position: relative;
}

.caja-icon a img {
    width: 10vmax;
    height: 15vmin;
    animation:icons 5s ease-out 2s infinite;  
}

.caja-icon:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.caja-icon:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.caja-icon:nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.caja-icon:nth-child(4) {
    grid-row: 2 / 3 ;
    grid-column: 4 / 5;
}

@keyframes icons {
    0% {
        filter: contrast(100%);
    }
    50% {
        filter: contrast(0%);
    }
    100% {
        filter: contrast(100%);
    }
}
