
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:serif;
}

img {
    width: 30vw;
    height: 20vh;
}

.html-t {
    background-color: rgba(101, 4, 48, 0.894);
    overflow-x:hidden;
}

 .head-t {
    width: 100%;
    height: 30vh;
    background-color: black;
    z-index: 1000;
}

 .container-t {
    width: 100%;
    height: 30vh;
}

.title-t {
    color: white;
    opacity:1;
    font-size:clamp(7vmax, 8vmax, 9vmax);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:25%;
    top: 5%;
    z-index: 1000;
}

 .container-after-t {
    position: relative;
    bottom: 100%;
    width: 20vw;
    height: 20vh;
}

 .container-after-t a img {
    width: 15vmax;
    height: 15vmax; 
    margin-top: 1vh;
}

 .container-after-t img:hover {
    filter:contrast(80%);
}


.hero-img-t {
    opacity: 0.7;
    position: relative;
    width: 100%;
    height: 30vh;
    background-image: url(/imgs/tradicion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0px, 200px ;
    position: relative;
}


/* main t */

.card-1, .card-2, .card-3, .card-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    margin-top:1vh;
    margin-left: 20%;
    width:60%;
    height:50vh;
    background-color:#fff;
    border-radius: 4vmax / 4vmax;
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover {
    transform: scale(1.5);
}

.caja-img-1 {
    width:100%;
    height:50vh; 
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    border-radius:2vmax / 2vmax;
}

.caja-img-1 img {
    width:100%;
    height:50vh; 
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    border-radius:4vmax 0vmax 0vmax 4vmax;
}

.caja-title-1 {
    width:100%;
    height:50vh;
    display: flex;
    grid-column: 3 / 5;
    grid-row:1 / 5;
    border-radius:4vmax / 4vmax;
}

.caja-title-1 h3 {
    position: absolute;
    top: 2vw;
    left: 1vw;
    font-size: 3vmax;
    color: rgb(206, 76, 117);
    grid-column: 3 / 5;
    grid-row:1 / 2;
    text-align: center;
}

.caja-title-1 p {
    position: absolute;
    top: 1vw;
    font-weight:600;
    line-height: 3ch;
    font-size: 2.5vh;
    text-align: center;
    grid-column: 3 / 5;
    grid-row:2 / 5;
}



.caja-img-2 {
    width:100%;
    height:50vh;
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    border-radius:2vmax / 2vmax;
}
.caja-img-2 img {
    width:100%;
    height:50vh; 
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    border-radius:0vmax 4vmax 4vmax 0vmax;
}

.caja-title-2 {
    width:100%;
    height:50vh;
    display: flex;
    grid-column: 1 / 3;
    grid-row:1 / 5;
    border-radius:4vmax / 4vmax;
}

.caja-title-2 h3 {
    position: absolute;
    top: 3vh;
    left: 1vh;
    font-size: 3vw;
    grid-column: 1 / 3;
    grid-row:1 / 2;
    text-align: center;
}

.caja-title-2 p {
    position: absolute;
    top: 1vw;
    font-weight:600;
    line-height: 3ch;
    font-size: 2.5vh;
    color: rgb(206, 76, 117);
    text-align: center;
    grid-column: 1 / 3;
    grid-row:2 / 5;
}



.caja-img-3 {
    width:100%;
    height:50vh;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    border-radius:2vmax / 2vmax;
}
.caja-img-3 img {
    width:100%;
    height:50vh;
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    border-radius:4vmax 0vmax 0vmax 4vmax;
}

.caja-title-3 {
    width:100%;
    height:50vh;
    display: flex;
    grid-column: 3 / 5;
    grid-row:1 / 5;
    border-radius:4vmax / 4vmax;
}

.caja-title-3 h3 {
    position: absolute;
    top: 2vw;
    left: 2vw;
    color: rgb(206, 76, 117);
    font-size: 3vw;
    grid-column: 3 / 5;
    grid-row:1 / 2;
    text-align: center;
}

.caja-title-3 p {
    position: absolute;
    top: 1vw;
    font-weight:600;
    line-height: 3ch;
    font-size: 2.5vh;
    text-align: center;
    grid-column: 3 / 5;
    grid-row:2 / 5;
}


.caja-img-4 {
    width:100%;
    height:50vh;
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    border-radius:2vmax / 2vmax;
}
.caja-img-4 img {
    width:100%;
    height:50vh;
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    border-radius:0vmax 4vmax 4vmax 0vmax;
}

.caja-title-4 {
    width:100%;
    height:50vh;
    display: flex;
    grid-column: 1 / 3;
    grid-row:1 / 5;
    border-radius:4vmax / 4vmax;
}

.caja-title-4 h3 {
    position: absolute;
    top: 2vw;
    left: 1vw;
    font-size: 3vw;
    grid-column: 1 / 3;
    grid-row:1 / 2;
    text-align: center;
}

.caja-title-4 p {
    position: absolute;
    top: 1vw;
    font-weight:600;
    line-height: 3ch;
    font-size: 2.5vh;
    text-align: center;
    color: rgb(206, 76, 117);
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}

.comidas-tipicas {
    position: relative;
    left: 25%;
}

.hero-1 {
    width: 50%;
    height: 50vh;
    background-color: black;
    background-image: url(/Img-proyecto/empanadas-t.jpg);
    background-repeat: no-repeat;
    background-position:0 -200px ;
    opacity: 0.8;
    filter: contrast(80%);  
}

.hero-1 > * {
    margin-top:5vh;
    color: #fff;
    font-weight: 800;
    text-align: center;
    font-size: 5vmin;
    display: flex;
    justify-content:center;
}

.hero-2 {
    width: 50%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    background-image: url(/Img-proyecto/charquisillo-t.jpg);
    background-repeat: no-repeat;
    background-position:-50px -150px;
    opacity: 0.8;
    filter: contrast(80%);  
}

.hero-2 > * {
    margin-top:6vh;  
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-align: center;
    font-size: 5vmin;
    display: flex;
    justify-content:center;
}

.hero-3 {
    width: 50%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    background-image: url(/Img-proyecto/humitas-t.jpg);
    background-repeat: no-repeat;
    background-position:-150px -150px;
    opacity: 0.8;
    filter: contrast(80%); 
}

.hero-3 > * {
    margin-top:6vh;  
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-align: center;
    font-size: 5vmin;
    display: flex;
    justify-content:center;
}

.hero-4 {
    width: 50%;
    height: 50vh;
    background-color: rgb(0, 0, 0);
    background-image: url(/Img-proyecto/locro-t.png);
    background-repeat: no-repeat;
    background-position:-150px -150px;
    opacity: 0.8;
    filter: contrast(80%); 
}

.hero-4 > * {
    margin-top:6vh;  
    color: rgb(0, 0, 0);
    font-weight: 800;
    text-align: center;
    font-size: 5vmin;
    display: flex;
    justify-content:center;
}

.card-ingredient {
    margin-top: 2vh;
    border:thick solid rgb(84, 84, 84);
    background-color:rgb(206, 76, 117);  
    color: white;
    width: 50%;
}

.card-ingredient:hover,
.card-prepare:hover {
    transition: all 200ms ease-in-out 200ms;
    transform: scale(1.1);
}


.card-ingredient summary {
    list-style: none;
    display: flex;
    justify-content: center;
}

.card-ingredient ul {
    list-style: circle;
    margin-left: 10%;
    border-top: thin solid black;
}

.card-ingredient li {
    border-bottom: thin solid black;
}

.card-prepare {
    margin-top: 2vh;
    border:thick solid rgb(206, 76, 117);
    background-color:rgb(84, 84, 84);  
    color: white;
    width: 50%;
}

.card-prepare summary {
    list-style:none;
    display: flex;
    justify-content:center;
}

.card-prepare dt {
    margin-left: 10%;
}

.card-prepare dd {
    margin-left: 10%;
    border-top: thin solid black;
}


/* foot */
.foot-t {
    background-color: #651c37;
    position: relative;
    top: 100vh;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(2, 50vw);
    grid-template-rows:repeat(4, 15vh);  
}

.Container-title-foot {
    grid-row:1 / 2;
    grid-column:1 / 3;
    text-align: center;
    font-size: clamp(2vmax 3vmax 4vmax);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.box-links {
    grid-row:2 / 5;
    grid-column:1 / 2;
}

.nav-foot-t {
    position: relative;
}

.nav-foot-t > * {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vmax;
    list-style:none;
    
}

 .nav-foot-t a {
    color: black;
    text-decoration: none;  
}

 .nav-foot-t a:hover {
    color: rgb(70, 70, 70);
    text-decoration: none;  
}

.nav-foot-t ul li img {
    width:4vmax;
    height:4vmax;
}

.box-icons {
    grid-row:2 / 5;
    grid-column:2 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.caja-icon {
    position: relative;
}

.caja-icon a img {
    width: 10vw;
    height: 15vh;
    animation:icons 5s ease-out 2s infinite;  
}

.caja-icon:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.caja-icon:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.caja-icon:nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.caja-icon:nth-child(4) {
    grid-row: 2 / 3 ;
    grid-column: 4 / 5;
}

@keyframes icons {
    0% {
        filter: contrast(100%);
    }
    50% {
        filter: contrast(0%);
    }
    100% {
        filter: contrast(100%);
    }
}

@media screen and (max-width:724px) {
    /* head */
        .head-t {
        width: 100%;
        height: 20vh;
        }
    
        .container-t {
        width: 100%;
        height: 20vh;
        }
    
        .container-after-t {
        width: 25vw;
        height: 20vh;
        }
    
         .container-after-t img {
        width: 15vmax;
        height: 15vmax; 
        }
    
    .title-t{
        font-size:clamp(5vmax, 6vmax, 7vmax);
        }
    
    .hero-img-t {
        width: 100%;
        height: 20vh;
        }    

    /* main t */

    .card-1, .card-2, .card-3, .card-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        position: relative;
        margin-top:1vh;
        margin-left:5%;
        width:90%;
        height:40vh;
        background-color:#fff;
        border-radius: 4vmax / 4vmax; 
    }

    .caja-title-1 h3, .caja-title-2 h3, .caja-title-3 h3, .caja-title-4 h3 {
        position: absolute;
        top: 3vw;
        left: 1vw;
        font-size: 6vw;
    }

    .caja-title-1 p, .caja-title-2 p, .caja-title-3 p, .caja-title-4 p {
        font-weight:400;
        line-height: 2.5ch;
        font-size: 2vh;
    }

    .caja-img-1 img, .caja-img-2 img, .caja-img-3 img, .caja-img-4 img {
        height:40vh;
    }


    .comidas-tipicas {
        position: relative;
        left: 18%;
        width: 60%;
    }

    .hero-1 {
        width: 100%;
        height: 40vh;
        padding: 0;
        background-color: black;
        background-image: url(/Img-proyecto/empanadas-t.jpg);
        background-repeat: no-repeat;
        background-position:0 -200px ;
        opacity: 0.8;
        filter: contrast(80%);  
    }

    .hero-2 {
        width: 100%;
        height: 40vh;
        background-color: rgb(0, 0, 0);
        background-image: url(/Img-proyecto/charquisillo-t.jpg);
        background-repeat: no-repeat;
        background-position:-50px -150px;
        opacity: 0.8;
        filter: contrast(80%);  
    }

    .hero-3 {
        width: 100%;
        height: 40vh;
        background-color: rgb(0, 0, 0);
        background-image: url(/Img-proyecto/humitas-t.jpg);
        background-repeat: no-repeat;
        background-position:-150px -150px;
        opacity: 0.8;
        filter: contrast(80%); 
    }

    .hero-4 {
        width: 100%;
        height: 40vh;
        background-color: rgb(0, 0, 0);
        background-image: url(/Img-proyecto/locro-t.png);
        background-repeat: no-repeat;
        background-position:-150px -150px;
        opacity: 0.8;
        filter: contrast(80%); 
    }
    

    /*foot t  */
    .nav-foot-t > * {
       display: flex;
       flex-direction: column;
       justify-content: space-around;
    }

   .box-icons {
       display: grid;
       grid-template-rows: repeat(4, 1fr);
       margin-left: 25%;
   }
   

   .caja-icon a img {
       width: 10vw;
       height: 10vh;
   }
   
   .caja-icon:nth-child(1) {
       grid-row: 1 / 2;
       grid-column: 1 / 2;
    }
    .caja-icon:nth-child(2) {
       grid-row: 2 / 3;
       grid-column: 1 / 2;
    }
    .caja-icon:nth-child(3) {
       grid-row: 3 / 4;
       grid-column: 1 / 2;
    }
    .caja-icon:nth-child(4) {
       grid-row: 4 / 5 ;
       grid-column: 1 / 2;
    }

}