* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:serif;
}

iframe {
    width:20vmax;
    height:20vmin;
    display: block;
}

img {
    width: 30vmax;
    height: 30vmin;
}

.body-1 {
    background-color: rgb(20, 20, 20);
    overflow-x:hidden ;
}

.html-g {
    background-color: #7d435dd5;
    overflow-x:hidden;
}

.html-h {
    background-color: #833c00A2;
    overflow-x:hidden;
}

.html-g {
    background-color: #7d435dd5;
    overflow-x:hidden;
}

.html-e {
    background-color: #b3764493;
    overflow-x:hidden;
}

.html-t {
    background-color: rgba(101, 4, 48, 0.894);
    overflow-x:hidden;
}